[user]
	signingkey = 9330A8266029B584
	email = kvishvaa6@gmail.com
	name = vishvaa-vsk
[commit]
	gpgsign = true
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[init]
	defaultBranch = main
